    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block;
    }
    
    body {
        line-height: 1;
    }
    
    ol,
    ul {
        list-style: none;
    }
    
    blockquote,
    q {
        quotes: none;
    }
    
    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none;
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(238, 195, 155, 0.568);
        font-family: 'Architects Daughter', cursive;
    }
    /*-----------------------------------------------container------------------------------------------------------*/
    
    .container {
        display: flex;
        width: 35%;
        height: 90vh;
        background-color: #ffffff;
        flex-flow: column;
        align-items: center;
        border-radius: 5px;
        margin-top: 3%;
    }
    
    h1 {
        font-size: 1.5rem;
        align-self: center;
        margin: 10px;
        font-family: Helvetica, sans-serif;
        color: rgb(37, 37, 83);
        margin: 10px;
        border: 2px solid rgb(37, 37, 83);
        border-radius: 10px;
        padding: 5px;
        font-family: 'Architects Daughter', cursive;
        width: 40%;
        text-align: center;
    }
    /*---------------------------------------------add-element----------------------------------------------------*/
    
    .add-element {
        width: 90%;
        height: 30px;
        background-color: #25b1f7;
        justify-content: space-around;
        align-items: center;
        display: flex;
        border-radius: 5px;
        margin-bottom: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    #todo {
        width: 250px;
        background-color: #55b4e4;
        border-radius: 5px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
        text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
        cursor: pointer;
        border: 1px solid black;
        outline: none;
    }
    
    #todo #todo::placeholder {
        font-family: 'Architects Daughter', cursive;
        color: rgb(235, 235, 235);
    }
    
    #todo[type=text]:focus {
        border: 2px solid rgb(174, 221, 251);
        transition: 0.3s ease;
    }
    
    #btn {
        border-radius: 5px;
        background-color: #f3af62;
        border-style: none;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
        text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
        cursor: pointer;
        font-family: 'Architects Daughter', cursive;
    }
    
    #btn:active,
    #btn:hover {
        background-color: #f3ce54;
        transition: 0.3s ease-in-out;
    }
    /*--------------------------------------------list------------------------------------------------------------*/
    
    .element {
        display: flex;
        width: 90%;
        height: auto;
        align-items: center;
    }
    
    #fa-ul {
        display: flex;
        width: 100%;
        height: auto;
        flex-flow: column-reverse;
    }
    
    li {
        display: flex;
        width: 90%;
        height: 30px;
        background-color: #dbf0fa;
        justify-content: space-between;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin: 5px 0%;
        cursor: pointer;
        border-radius: 5px;
        align-items: center;
        flex-flow: row-reverse;
        padding: 0% 5%;
        text-transform: inherit;
    }
    
    li:hover {
        background-color: #cacac8;
    }
    
    li.checked {
        background: rgb(74, 121, 83);
        color: #fff;
    }
    
    li.checked::before {
        position: absolute;
        border-color: #fff;
        border-style: solid;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        height: 15px;
        width: 7px;
    }
    
    span {
        display: flex;
    }
    
    .fa-trash {
        color: #ff2e4c;
        padding-right: 10px;
    }
    
    button {
        margin-right: 5px;
        background: none;
        border-style: none;
    }
    
    .icons {
        display: flex;
    }
    
    .fa-pencil-square-o {
        color: rgb(36, 108, 190)
    }
    
    #edit_box {
        width: 90%;
        height: 30px;
        background-color: #3f8fb8;
        justify-content: space-around;
        align-items: center;
        display: flex;
        border-radius: 5px;
        margin-bottom: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        display: none;
    }
    
    #edit {
        width: 250px;
        background-color: #87cbec;
        border-radius: 5px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
        text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
        cursor: pointer;
        border: 1px solid black;
        outline: none;
    }
    
    #edit[type=text]:focus {
        border: 2px solid rgb(174, 221, 251);
        transition: 0.3s ease;
    }
    
    #submit-btn {
        border-radius: 5px;
        background-color: #f37f62;
        border-style: none;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
        text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
        cursor: pointer;
        font-family: 'Architects Daughter', cursive;
    }
    
    #submit-btn:active,
    #submit-btn:hover {
        transition: 0.3s ease-in-out;
        background-color: #f8a18b;
    }